{
   "tabWidth": 2,
    "printWidth": 120,
  
    "semi": true,
    "tabs": false,
    "singleQuote": true,
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
  
    "arrowParens": "always",
    "trailingComma": "none",
    "quoteProps": "as-needed"
  }
