{
   "tabWidth": 2,
    "printWidth": 120,
    "semi": true,
    "tabs": false,
    "singleQuote": false,
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "arrowParens": "always",
    "trailingComma": "all",
    "quoteProps": "as-needed"
  }
